body{
    margin: 0;
    background-color: #9B3922;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6em 0 0 0;
}

header #logo{
    flex: 0 1 50px;
    flex-grow: 1;
    margin: 1px 15px;
}

header h1{
    text-align: center;
    padding: 0.2em 0;
    margin: 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: baseline;
    margin: 0;
}

nav li{
    padding: 10px;
}

nav li a{
    color: #F2613F;
    text-decoration: none;
    margin: 5px 5px;
}

nav a:hover{
    color: #ff9f8a;
    text-decoration:underline;
}

footer{
    margin: 1em 0 2em 0;
}

footer address{
    text-align: center;
    color: white;
    padding: 10px;
}

main{
    background-color: #fd9c76;
    margin: 0 auto;
    width: 65%;
    border-radius: 10px;
    padding: 30px;
}

main h2{
    color: #481E14;
    text-align: center;
    margin-top: 0;
}

div a{
    text-decoration: none;
    color: #000;
    text-align: left;
}

figcaption{
    max-width: 100%;
}

#header{
    display: flex;
    flex-grow: 1;
    position: fixed;
    background-color: #481E14;
    color: #F2613F;
    width: 100%;
    top: 0;
}

#menu{
    flex: 1 1 100vw;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.gallery-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.gallery-itens{
    width: 200px;
    flex-grow: 1;
    transition: 0.1s linear;
    padding: 0 0.5em;
    margin-bottom: 15px;
}

.button-gallery{
    background-color:#F2613F;
    width: 200px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #481E14;
}

.button-gallery:hover{
    background-color: #ff7758;
}

.gallery-itens img:hover{
    width: 210px;
    transition: 0.2s;
}

.gallery-itens img{
    object-fit: cover;
    box-shadow: 5px 5px#0006;
}

.footer-a1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.footer-a2 address{
    padding: 2px;
}